:root {
    --chrome-0: rgb(36 36 36);
    --chrome-1: rgb(41 41 41);
    --chrome-2: rgb(41 42 45);
    --chrome-3: rgb(75, 75, 75);
    --chrome-4: rgb(145 145 145);
    --chrome-5: rgb(154, 160, 166);
    --chrome-6: white;
}

@media (prefers-color-scheme: light) {
    :root {
        --chrome-0: rgb(242, 242, 242);
        --chrome-1: rgb(202, 205, 215);
        --chrome-2: rgb(192, 197, 213);
        --chrome-3: rgb(177, 177, 177);
        --chrome-4: rgb(163, 163, 163);
        --chrome-5: rgb(81, 85, 89);
        --chrome-6: black;
    }
}

a, a:link, a:visited {
    color: var(--chrome-6);
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--chrome-0);
        color: var(--chrome-5);
    }
    thead {
        background: var(--chrome-2);
        box-shadow: 0 1px 0 var(--chrome-3);
    }

    tfoot {
        background-color: var(--chrome-2);
        border-top: 1px solid var(--chrome-3);
    }

    td:not(:last-child),
    th:not(:last-child) {
        border-right: 1px solid var(--chrome-3);
    }

    tbody tr {
        background: var(--chrome-0);
    }

    tbody tr:nth-child(odd) {
        background: var(--chrome-1);
    }

    tbody td:first-child:hover {
        color: var(--chrome-5);
    }

    .controls {
        background: var(--chrome-2);
        box-shadow: 0 1px 0 var(--chrome-3);
    }

    .icon {
        background-color: var(--chrome-5);
    }

    .icon:hover {
        background-color: var(--chrome-5);
    }

    .filter {
        background: var(--chrome-1);
        color: var(--chrome-5);
    }

    .clear {
        --override-icon-mask-background-color: var(--chrome-4);
    }

    .close {
        --override-icon-mask-background-color: var(--chrome-4);
    }

    .side-by-side .table-container {
        border-right: 1px solid var(--chrome-3);
    }

    .details-pane__head {
        background: var(--chrome-2);
        box-shadow: 0 1px 0 var(--chrome-3);
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: rgb(242, 242, 242);
        color: black;
    }
    thead {
        background: rgb(202, 205, 215);
        box-shadow: 0 1px 0 rgb(163, 163, 163);
    }

    tfoot {
        background-color: rgb(192, 197, 213);
        border-top: 1px solid rgb(177, 177, 177);
    }

    td:not(:last-child),
    th:not(:last-child) {
        border-right: 1px solid rgb(201, 201, 201);
    }

    tbody tr {
        background: rgb(245, 245, 245);
    }

    tbody tr:nth-child(odd) {
        background: rgb(224, 224, 224);
    }

    tbody td:first-child:hover {
        color: black;
    }

    .controls {
        background: rgb(199, 204, 219);
        box-shadow: 0 1px 0 rgb(183, 183, 183);
    }

    .icon {
        background-color: rgb(81, 85, 89);
    }

    .icon:hover {
        background-color: black;
    }

    .filter {
        background: rgb(221, 221, 221);
        color: rgb(80, 84, 87);
    }

    .clear {
        --override-icon-mask-background-color: rgb(106, 106, 106);
    }

    .close {
        --override-icon-mask-background-color: rgb(106, 106, 106);
    }

    .side-by-side .table-container {
        border-right: 1px solid rgb(195, 195, 195);
    }

    .details-pane__head {
        background: rgb(190, 195, 210);
        box-shadow: 0 1px 0 rgb(192, 191, 191);
    }
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Segoe UI", Tahoma, sans-serif;
}

* {
    font-size: 12px;
    text-align: left;
}

.panel {
    position: relative;
}

table {
    position: relative;
    width: 100%;

    border-spacing: 0;
    border-collapse: collapse;
}

thead {
    position: sticky;
    top: 0px;
}

tfoot {
    position: fixed;
    bottom: 0;
    width: 100%;
}

tbody tr {
    min-height: 25px;
}

tbody td:first-child:hover {
    text-decoration: underline;
    cursor: pointer;
}

td,
th {
    padding: 5px;
}

.controls {
    position: sticky;
    top: 0;
    z-index: 100;

    display: flex;
    gap: 5px;
    align-items: center;
    width: 100%;
}

.filter {
    width: 300px;
    height: 18px;
    border: none;
    outline: none;
}

.clear {
    display: block;
    width: 28px;
    height: 24px;
    /* TODO: replace this */
    -webkit-mask-image: url(/assets/icons.svg);
    -webkit-mask-position-x: 0px;
    -webkit-mask-position-y: 144px;
}

.record {
    margin: 0 0 0 5px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
}

.close {
    display: block;
    width: 28px;
    height: 24px;
    /* TODO: replace this */
    -webkit-mask-image: url(/assets/icons.svg);
    -webkit-mask-position-x: -84px;
    -webkit-mask-position-y: 0px;
}

.record.active {
    background-color: rgb(242, 139, 130);
    box-shadow: 0 0 5px rgb(242, 139, 130);
}

.p0 {
    padding: 0;
}

.table-container {
    height: calc(100vh - 50px);
    overflow-y: scroll;
}

.side-by-side {
    display: flex;
}

.side-by-side th:not(:first-child),
.side-by-side td:not(:first-child) {
    display: none;
}

.side-by-side td,
.side-by-side th {
    border-right: none;
}

.side-by-side .table-container {
    width: 30%;
    min-height: 100%;
}

.side-by-side .details-pane {
    display: block;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    width: 70%;
}
